@model WebApplication2.Models.State

@{
    ViewBag.Title = "CreateNewState";
}

<h2>CreateNewState</h2>


<div class="form-group">
    <label for="StateCode" style="color:white">StateCode</label>
    <input type="text" class="form-control" id="StateCode" placeholder="Enter your State code ">
</div>

<div class="form-group">
    <label for="StateName" style="color:white">StateName</label>
    <input type="text" class="form-control" id="StateName" placeholder="Enter your StateName ">
</div>

<div class="form-group">
    <label for="FirstZipCode" style="color:white">FirstZipCode</label>
    <input type="number" class="form-control" id="FirstZipCode" placeholder="Enter your FirstZipCode ">
</div>

<div class="form-group">
    <label for="LastZipCode" style="color:white">LastZipCode</label>
    <input type="number" class="form-control" id="LastZipCode" placeholder="Enter your LastZipCode ">
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" id="AddState" style="background-color:black; color:white" value="Save" class="btn btn-default" onclick="addState()" />
    </div>
</div>
<div class="col-md-offset-2 col-md-10">
    <a type="submit" href="/State/Index" class="btn btn-default" style="background-color:black; color:white">Back To List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function addState() {
        var StateCode = document.getElementById("StateCode").value;
        var StateName = document.getElementById("StateName").value;
        var FirstZipCode = document.getElementById("FirstZipCode").value;
        var LastZipCode = document.getElementById("LastZipCode").value;

        var State =
        {
            StateCode: StateCode,
            StateName: StateName,
            FirstZipCode: FirstZipCode,
            LastZipCode: LastZipCode

        };
        $.ajax({
            type: "POST",
            url: "/State/AddNewStateToDB",
            data: JSON.stringify(State),
            success: function (data) {
                alert("Success..");

            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });
        location.href = "/State/Index";
    }

</script>