@model WebApplication2.Models.Registration

@{
    ViewBag.Title = "EditRegistrations";
    var customers = ViewData["Customers"] as SelectList;
    var products = ViewData["Products"] as SelectList;
}

<h2>EditRegistrations</h2>

@*<div class="form-group">
    <div class="col-md-2">
        <label for="Customer">Customer:</label>
    </div>
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.CustomerID, customers, "", new { @class = "form-control", id = "CustomerID" })
        <br>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2">
        <label for="Customer">Product:</label>
    </div>
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.ProductCode, products, "", new { @class = "form-control", id = "ProductCode" })
        <br>
    </div>
</div>*@

<div class="form-group">
    <div class="col-md-2">
        <label for="RegistrationDate">Date RegistrationDate:</label>
    </div>
    <div class="col-md-10">
        <input type="date" class="form-control" id="RegistrationDate" name="RegistrationDate" value="@Model.RegistrationDate"><br>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" style="background-color: black; color: white" onclick="editReg()" />
        <a type="submit" href="/Registrations/Index" class="btn btn-default" style="background-color:black; color:white">Back To List</a>
    </div>
</div>

<script>

    function editReg() {
        //var Customer = document.getElementById("CustomerID").value;
        //var Product = document.getElementById("ProductCode").value;
        var RegistrationDate = document.getElementById("RegistrationDate").value;

        var Reg =
        {
            //CustomerID: Customer,
            //ProductCode: Product,
            RegistrationDate: RegistrationDate
        };

        $.ajax({
            type: "POST",
            url: "/Registrations/EditRegToDB?id=@Model.CustomerID",
            data: JSON.stringify(Reg),
            success: function (data) {
                alert("Success..");
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });
        location.href = "/Registrations/Index";
    }
</script>
